* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}

.top-box {
    font-family: Pacifico;
    font-size: 36px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 240px;
    border: 2px solid blue;
    /* margin: 2px solid purple; */

}

