* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width:auto; 
    height: 1080px;
    background: linear-gradient(180deg,
   rgb(197, 7, 64) 0%,
   rgb(125, 161, 214) 50%,
   rgb(54, 8, 116) 100%);
    
}

.top-box {
    margin: 90px;
    /* border: white solid 2px; */
    padding: 10px;
    text-align: center;
    height: 600px;
    box-sizing: border-box;
    background-color:linear-gradient(180deg,
    rgb(197, 7, 64) 0%,
    rgb(125, 161, 214) 50%,
    rgb(54, 8, 116) 100%);
    color: aqua;
}

.box-image-main {
    /* border: white solid 2px; */
    margin: 100px;
}